@font-face {
    font-family: 'poppins';
    src: local('poppins'), url(../../../../src/fonts/Poppins-Regular.ttf) format('truetype');
   // src: local('poppins'), url(../../../../src/fonts/Poppins-Medium.ttf) format('truetype');
    //src: local('poppins'), url(../../../../src/fonts/Poppins-SemiBold.ttf) format('truetype');
   // src: local('poppins'), url(../../../../src/fonts/Poppins-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'rubik';
    src: local('rubik'), url(../../../../src/fonts/Rubik-Medium.ttf) format('truetype');
}

$Darkest: #0C121C;
$Dark:#1E293B;
$Mid:#B8BFC6;
$Light:#D6DEE7;
$Lightest:#F6F3F3;

$fontfamilymain: 'poppins';
$fontsizexxl: 55px;
$fontsizexl: 35px;
$fontsizevl: 20px;
$fontsizel: 18px;
$fontsizesm:14px;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;