@import '../../index.scss';

.navbar{
    font-size: $fontsizesm;
    font-weight: $regular;

    &-list{
      @include flex(row,space-between,center);
      gap: 37px;

      &--item{
        color:$Mid;
        &:hover{
          color: $Lightest;
        }
        .active{
            color: $Lightest !important;
            font-weight:$semi-bold;
        }
      }
    }
}
