@import '../../index.scss';

button{
    display: flex;
    width: auto;
    height: 38px;
    padding: 0px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: none;
    background: $Light;
    font-weight: $semi-bold;

    &:hover{
        display: inline-flex;
        border-radius: 50px;
        background: $Darkest;
        color: $Lightest;
        flex-shrink: 0;
        transition: all 0.2s ease;
        cursor: pointer;
    }
}