@import '../public/assets/global/Sass_init/reset.scss';
@import '../public/assets/global/Sass_init/mixins.scss';
@import '../public/assets/global/Sass_init/variables.scss';

//hero section

.hero{
  background-image: url(../public/assets/images/hero.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height:752px;
  padding-top: 226px;

  &::before{
    content: ' ';
    background:transparentize(rgba(0, 0, 0, 0.46),0);
    position: absolute;
    top: 0;
    width: 100%;
    height: 752px;
  }

  &-text{
    position: relative;
    z-index: 99;
    width: 737px;
    height: 383px;
    margin: auto;
    color: $Lightest;
    text-align: center;
    @include flex(column,space-between,center,20);

    &--slogan{
      font-size: $fontsizel;
      font-weight: $medium;
      color: $Mid;
    }

    &--title{
      color: #FFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 55px;
      font-weight: 800;
      line-height: 130%; /* 71.5px */
      letter-spacing: -0.935px;
    }
    p{
      max-width: 688px;
      font-size: $fontsizel;
      font-weight: 300;
      line-height: 160%;
      color: $Lightest;
    }
  }
}

.missions{
  font-family: rubik;
  color: $Darkest;
  width: 100%;
  height: 644px;
  padding: 100px 90px;
  flex-shrink: 0;
  background-color: $Lightest;

  h1{
    font-weight: $bold;
    margin-bottom:7px;
  }

  &-list {
    h2{
      font-size: $fontsizevl;
    }
    p{
      color: #B8BFC6;
      font-family: Rubik;
      font-size: $fontsizel;
      max-width: 370px;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
    }
    @include flex(row,space-between,baseline);
    & > div > div {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
    }
    div .handshaken-icon{
      background: url(../public/assets/icons/handshake.svg);
    }
    div .objective-icon{
      background: url(../public/assets/icons/bullseye-arrow.svg);
    }
    div .emergency-icon{
      background: url(../public/assets/icons/chat-arrow-grow.svg);
    }

    & > div{
      @include flex(column,space-between,left,15px);
      padding-top: 46px;
    }
  }
}

.newsletter{
  background-image: url(../public/assets/images/newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;

  .wrapper{
    background-color: transparentize(#d9d9d9,0.61);
    width: fit-content;
    min-height: 287px;
    margin:auto;
    @include flex(column,center,center,29px);
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;

    form{
      width: 100%;
      @include flex($justify:space-between,$gap:18px);
      input{
        width:100%;
        height: 38px;
        border-radius: 50px;
        border: none;
        padding: 0px 19px;
        
        &:focus{
          outline: 2px solid $Darkest;
        }
      }
      button{
        display: flex;
        flex-shrink: 0;
        width: 170px;
        height: 38px;
        padding: 0px 19px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        border: none;
        background: $Darkest;
        color: $Lightest;
        font-weight: $semi-bold;
        font-size: $fontsizel;
    
        &:hover{
            display: inline-flex;
            border-radius: 50px;
            background: $Light;
            color: $Darkest;
            
            
            transition: all 0.2s ease;
            cursor: pointer;
        }
      }
    }
  }
  
}